* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --accent-dark: black;
    --accent-light: white;
}
body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-image: url("the-simpsons-homer-simpson-face-minimalism-rqsmebqkjx8zn6c1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    padding: 16px;
    font-size: 40px;
    text-align: center;
    background-color: #fbd203;
    color: black;
}
#gif {
    text-align: center;
    display: block;
    background-position: center;
    width: 200%;
    max-width: 400px;
}
h2 {
    font-size: 24px;
    color: black;
    text-align: center;
    margin: 32px 0;
}
#space {
    font-size: 65px;
    color: red;
}

#letters {
    justify-content: center;
    margin: 16px 0;
}
#letters button {
    font-size: 16px;
    font-weight: bold;
    width: 48px;
    height: 48px;
    margin: 8px;
    color: black;
    border: 3px solid grey;
    border-radius: 6px;
    outline: none;
    text-align: center;
    background-color: #fbd203 ;
}
#letters button.used {
    background-color: gray;
}


#word {
    font-size: 32px;
    color: var(--accent-light);
    letter-spacing: 10px;
    margin-bottom: 48px;
}

button.correct {
    background-color: var(--accent-dark);      
}

button.dark {
    background-color: var(--accent-dark);
}

#retry {
    font-size: 20px;
    padding: 12px;
    font-weight: bold;
    border: 3px solid black;
    color: black;
    border-radius: 5px;
    margin: 32px 0;
}